@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comme', sans-serif;
}

.title {
    margin: 100px auto;
    padding: 30px 20px;

    font-size: 35px;

    text-align: center;
    text-transform: uppercase;

    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% { color: yellow; }
    25% { color: green; }
    50% { color: blue; }
    75% { color: red; }
    100% { color: orange; }
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hex-color_text {
    font-size: 30px;
}

.btn {
    padding: 9px 17px;

    color: white;
    background-color: #189ad3;

    border: none;
    border-radius: 2px;
    
    transition: 0.2s;
}

.btn:hover {
    cursor: pointer;
    background-color: #0d9ad6e1;
    box-shadow: 0px 0px 5px 1px #63c5ef;
}

@media (max-width:380px) {
    .title {
        font-size: 25px;
        line-height: 1.5;
    }

    .hex-color_text {
        font-size: 21px;
    }
}